<!-- <input name="cat[user_id]" value="<%= current_user.id %>" > -->

<label for="name">Cat's Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>" >

<br>
<label for="sex">Cat's Gender</label>
  <input id="sex" type="radio" name="cat[sex]" value="F" <%= "checked" if @cat.sex == "F" %> >Female
  <input id="sex" type="radio" name="cat[sex]" value="M" <%= "checked" if @cat.sex == "M" %> >Male

<br>
<label for="color">Cat's Color</label>
  <select id="color" name="cat[color]">
    <option <%= "selected" if @cat.color.nil? %>">Select Color</option>
    <option value="brown" <%= "selected" if @cat.color == "brown" %> >Brown</option>
    <option value="black" <%= "selected" if @cat.color == "black" %> >Black</option>
    <option value="white" <%= "selected" if @cat.color == "white" %> >White</option>
    <option value="orange" <%= "selected" if @cat.color == "orange" %> >Orange</option>
    <option value="gray" <%= "selected" if @cat.color == "gray" %> >Gray</option>
  </select>

<br>
<label for="birthday">Cat's Date of Birth</label>
  <input id="birthday" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">

<br>
<label for="description">Cat's Description</label>
  <textarea id="description" name="cat[description]"> <%= @cat.description %>
  </textarea>

<button>Submit</button>
