<h1>Create New Cat!</h1>

<!-- <form action="<%= cats_url %>" method="post"> -->
<form action="<%= cats_url %>" method="post">
  <label for="name">Cat's Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>" >

  <br>
  <label for="sex">Cat's Gender</label>
    <input id="sex" type="radio" name="cat[sex]" value="F">Female
    <input id="sex" type="radio" name="cat[sex]" value="M">Male

  <br>
  <label for="color">Cat's Color</label>
    <select id="color" name="cat[color]">
      <option>Select Color</option>
      <option value="brown">Brown</option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="orange">Orange</option>
      <option value="gray">Gray</option>
    </select>

  <br>
  <label for="birthday">Cat's Date of Birth</label>
    <input id="birthday" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">

  <br>
  <label for="description">Cat's Description</label>
    <textarea id="description" name="cat[description]"> <%= @cat.description %>
    </textarea>

  <button>Submit</button>
</form>
