<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> -->
</head>
<body>

  <% if logged_in? %>
  <h1>Welcome <%= current_user.user_name %></h1>
  <form action="<%= session_url %>", method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Logout</button>
  </form>

  <% else %>
  <form action="<%= new_session_url %>", method="GET">
    <button>Go To Login Page</button>
  </form>
  <% end %>

<%= yield %>

</body>
</html>
